* {
	box-sizing: border-box;
}

link {
	display: none;
}

img {
	width: 300px;
	height: auto;
}

.form-size {
	margin-top: 20px;
	width: 400px;
	height: auto;
}

.img-carousel-size {
	width: 469px;
	height: 245px;
}